<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZenithLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ZenithLauncher.Properties.Settings>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRememberEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamAmount" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="JavaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutoRam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>EN</value>
            </setting>
        </ZenithLauncher.Properties.Settings>
    </userSettings>
</configuration>